.cover-train-container{
  
  background-image: url('./cover-tone.png');
  
}

.banner-cover{
    width: 100%;
    height: 60vh;
    object-fit: cover;
    filter: brightness(30%);
    opacity: 0.6;
  
    background-image: url('./cover.png');
    background-repeat: no-repeat;
}

.card-header-container{
    padding: 0;
}