.scroll-change::-webkit-scrollbar {
    width: 5px;
  
  }
  
  .scroll-change::-webkit-scrollbar-track {
    background: white;
  }
  
  .scroll-change::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 5px;
  }
  
  .scroll-change::-webkit-scrollbar-thumb:hover {
    background: #244a59;
  }
  